In [1]:
# The code was removed by Watson Studio for sharing.

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,#country+name,#country+code,#date+year,#indicator+name,#indicator+code,#indicator+value+num
1,Pakistan,PAK,2006,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,439741
2,Pakistan,PAK,2005,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,420702
3,Pakistan,PAK,2004,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,401663
4,Pakistan,PAK,2003,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,363462